.login-container {
  padding-top: 36px;
  display: flex;
  justify-content: center;
}

mat-card {

  mat-form-field {
    min-width: 275px;
  }

  mat-card-header {
    padding-bottom: 6.5px;
  }
  
  mat-card-actions {
    button {
      width: 100%;
    }
  }
}