<div class="login-container">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card class="shipping-card">
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <mat-form-field class="full-width" appearance="fill">
                        <input placeholder="Username" matInput placeholder="Username" formControlName="username">
                        <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
                            Username is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="full-width" appearance="fill">
                        <input placeholder="Password" matInput [type]="hide ? 'password' : 'text'"
                            formControlName="password">
                        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="loginForm.controls['password'].hasError('required')"></mat-error>
                    </mat-form-field>
                </div>
                <mat-error *ngIf="isIncorrect">Username or password incorrect.</mat-error>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>