<div class="grid-container">

  <!-- Header -->
  <div *ngIf="updatedTime && this.user === 0">
    <div class="header-container-mobile">
      <h4>Fleet Dashboard</h4>
      <p>{{updatedTime}}</p>
    </div>
    <div class="header-container">
      <h1>Fleet Dashboard</h1>
      <h4><strong>Last Updated: </strong>{{updatedTime}}</h4>
    </div>
  </div>
  <div *ngIf="updatedTime && this.user !== 0">
    <div class="header-container-mobile">
      <h4>My Vehicle</h4>
      <p>{{updatedTime}}</p>
    </div>
    <div class="header-container">
      <h1>My Vehicle Dashboard</h1>
      <h4><strong>Last Updated: </strong>{{updatedTime}}</h4>
    </div>
  </div>

  <!-- Desktop -->
  <div *ngIf="this.columnsMap && this.columnsToDisplayWithExpand" class="grid mat-elevation-z2">

    <!-- Table structure reference: https://v15.material.angular.io/components/table/examples#table-expandable-rows -->
    <table mat-table [dataSource]="this.dataSource" multiTemplateDataRows>

      <!-- Headers/Expandable Rows -->
      <ng-container matColumnDef="{{column.value}}" *ngFor="let column of columnsMap | keyvalue">
        <th mat-header-cell *matHeaderCellDef>{{column.value}}</th>
        <td mat-cell *matCellDef="let element">{{element[column.key]}}</td>
      </ng-container>
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="expand row"
            (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation(); 
            expandedElement === element ? fetchRealTimeData(element, false) : unsubscribe(this.vehicleRealTimeDataSub);">
            <mat-icon *ngIf="expandedElement !== element">expand_more</mat-icon>
            <mat-icon *ngIf="expandedElement === element">expand_less</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Expansion -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
          <mat-divider *ngIf="this.expandedElement == element"></mat-divider>
          <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div *ngIf="this.detailData && !isRTDLoading && isRTD" class="details-expansion">
              <ng-container *ngFor="let detail of detailMap | keyvalue: originalOrder">
                <div class="details-expanded-item">
                  <div class="ripple-box" matRipple #ripple="matRipple" rippleKey="{{detail.key}}">
                    <div class="details-expanded-item-title">{{detail.value}}</div>
                    <div class="details-expanded-item-value">
                      {{ this.detailData[detail.key] == null ? '---' : this.detailData[detail.key] }}
                    </div>
                  </div>
                </div>
              </ng-container>
              <div *ngIf="this.user !== 0" class="rtd-btn-panel">
                <button class="panel-item" mat-raised-button color="primary" (click)="openTrip()">My Trip</button>
                <button class="panel-item" mat-raised-button color="primary" (click)="getAiInsights(element)">AI Insights</button>
                <p *ngIf="nextCharge"><strong>Predicted Next Charge: </strong>{{nextCharge}}</p>
              </div>
              <div *ngIf="this.user === 0 && this.selectedDriver" class="rtd-btn-panel">
                <div class="panel-item"><strong>Driver: {{this.selectedDriver.firstName + ' ' +
                    this.selectedDriver.lastName}}</strong></div>
                <button class="panel-item" mat-raised-button color="primary"
                  (click)="impersonateDriver(element)">Impersonate</button>
                <mat-form-field class="panel-item" appearance="outline">
                  <mat-label>Trade Assignment</mat-label>
                  <mat-select [(ngModel)]="selectedTradeDriver">
                    <mat-option *ngFor="let driver of driversAvailableToTrade" [value]="driver.driverId">
                      Vehicle {{driver.vehicleId}} - {{driver.firstName}} {{driver.lastName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button [disabled]="!selectedTradeDriver" class="panel-item" mat-raised-button color="primary"
                  (click)="tradeAssignment()">Trade</button>
              </div>
            </div>
            <span *ngIf="this.expandedElement == element && isRTDLoading" class="info">
              <mat-spinner color="accent" mode="indeterminate"></mat-spinner>
            </span>
            <span *ngIf="!isRTD && !isRTDLoading" class="info">
              Error retrieving real-time data. Please refresh.
            </span>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr [hidden]="isLoading" mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
        class="element-row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation(); 
        expandedElement === element ? fetchRealTimeData(element, false) : unsubscribe(this.vehicleRealTimeDataSub);"
        [class.expanded-row]="expandedElement === element"></tr>
      <tr [hidden]="isLoading" mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

    </table>

    <span *ngIf="isLoading" class="info">
      <mat-spinner color="accent" mode="indeterminate"></mat-spinner>
    </span>
    <div *ngIf="this.dataSource && this.dataSource.data && this.dataSource.data.length < 0" class="info">
      No vehicles found for fleet.
    </div>
    <div [hidden]="!this.dataSource || this.user !== 0 || isLoading">
      <mat-divider></mat-divider>
      <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
    </div>
  </div>

  <!-- Mobile -->
  <div class="accordian">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let vehicle of staticData" (opened)="fetchRealTimeData(vehicle, true)"
        (afterCollapse)="accordianClosed()">

        <mat-expansion-panel-header>
          <mat-panel-title>
            Vehicle {{ vehicle.vehicleId }}
          </mat-panel-title>
          <mat-panel-description>
            {{ vehicle.yearOfManufacture }} {{ vehicle.manufacturer }} {{ vehicle.model }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div *ngIf="this.detailData && !isRTDLoading && isRTD" class="details-expansion">
          <ng-container *ngFor="let detail of detailMap | keyvalue">
            <div class="details-expanded-item">
              <div matRipple #ripple="matRipple" rippleKey="{{detail.key}}">
                <div class="details-expanded-item-title">{{detail.value}}</div>
                <div class="details-expanded-item-value">
                  {{ this.detailData[detail.key] == null ? '---' : this.detailData[detail.key] }}
                </div>
              </div>
            </div>
          </ng-container>
          <div *ngIf="this.user !== 0" class="rtd-btn-panel">
            <button class="panel-item" mat-raised-button color="primary" (click)="openTrip()">My Trip</button>
            <button class="panel-item" mat-raised-button color="primary" (click)="getAiInsights(vehicle)">AI Insights</button>
            <p *ngIf="nextCharge"><strong>Predicted Next Charge: </strong>{{nextCharge}}</p>
          </div>
          <div *ngIf="this.user === 0 && this.selectedDriver" class="rtd-btn-panel">
            <strong class="panel-item-mobile-driver">Driver: {{this.selectedDriver.firstName + ' ' +
                this.selectedDriver.lastName}}</strong>
            <button class="panel-item-mobile" mat-raised-button color="primary"
              (click)="impersonateDriver(vehicle)">Impersonate</button>
            <div class="form-field-spacer">
              <mat-form-field class="panel-item-mobile-spacer" appearance="outline">
                <mat-label>Trade Assignment</mat-label>
                <mat-select [(ngModel)]="selectedTradeDriver">
                  <mat-option *ngFor="let driver of driversAvailableToTrade" [value]="driver.driverId">
                    Vehicle {{driver.vehicleId}} - {{driver.firstName}} {{driver.lastName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <button [disabled]="!selectedTradeDriver" class="panel-item-mobile-despace" mat-raised-button
              color="primary" (click)="tradeAssignment()">Trade</button>
          </div>
        </div>
        <span *ngIf="this.expandedElement == vehicle && isRTDLoading" class="info">
          <mat-spinner color="accent" mode="indeterminate"></mat-spinner>
        </span>
        <span *ngIf="!isRTD && !isRTDLoading" class="info">
          Error retrieving real-time data. Please refresh.
        </span>

      </mat-expansion-panel>
    </mat-accordion>

    <span *ngIf="isLoading" class="info">
      <mat-spinner color="accent" mode="indeterminate"></mat-spinner>
    </span>
  </div>

  <div *ngIf="localTime && utcTime" class="clock">
    <p><strong>Local Time: </strong>{{ localTime }}</p>
    <p><strong>UTC Time: </strong>{{ utcTime }}</p>
  </div>
</div>