.grid-container {
  margin: 20px;
}

.btn {
  margin-bottom: 2.25%;
  margin-left: 1%;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  width: 100%;
}

table {
  width: 100%;
  font-size: 14px;
}

mat-error {
  font-size: 13px;
}

mat-form-field {
  font-size: 15px;
}

.mat-mdc-header-cell {
  width: 0;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: grey;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.details-expansion {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  .details-expanded-item {
    padding: 2%;

    .details-expanded-item-title {
      font-weight: 400;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .details-expanded-item-value {
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-container,
.header-container-mobile {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.edit-period {
  position: absolute;
  top: 1px;
}

.flex-list {
  display: flex;
}

.rtd-btn-panel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 24px;
  flex-wrap: wrap;

  button {
    max-width: 360px;
  }

  .form-field-spacer {
    display: flex;
    justify-content: center;
    width: 100%;

    mat-form-field {
      max-width: 360px;
    }
  }

  .panel-item {
    margin-right: 24px;
  }

  .panel-item-mobile {
    width: 100%;
    margin-top: 12px;
  }

  .panel-item-mobile-driver {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 12px;
  }

  .panel-item-mobile-spacer {
    width: 100%;
    margin-top: 24px;
  }

  .panel-item-mobile-despace {
    width: 100%;
    margin-top: -12px;
  }
}

.rtd-driver-panel {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 24px;

  .details-expanded-item {
    padding: 2%;

    .details-expanded-item-title {
      font-weight: 400;
      font-size: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .details-expanded-item-value {
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.clock {
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  
  p {
    font-size: larger;
    margin: 12px;
  }
}

@media only screen and (max-width: 1200px) {
  .grid {
    display: none;
  }

  .header-container {
    display: none;
  }

  .more-button {
    margin-top: -4.5px;
  }

  .mobile-notif {
    margin-bottom: 12px;

    button {
      padding: 12px;
    }
  }
}

@media only screen and (min-width: 1201px) {
  .accordian {
    display: none;
  }

  .header-container-mobile {
    display: none;
  }
}