.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-spacer {
  flex: 1 1 auto;
}

.h5-smaller {
  margin-top: 5px;
  padding-left: 6px;
  font-size: small;
  color: whitesmoke;
}

@media only screen and (max-width: 868px) {
  .desktop-extras {
    display: none;
  }
}

@media only screen and (min-width: 869px) {
  .mobile-extras {
    display: none;
  }
}
