<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon
          matListItemIcon>home</mat-icon>Home</a>
      <ng-container *ngIf="loggedInService.toggleValue$ | async">
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page"><mat-icon
            matListItemIcon>dashboard</mat-icon>Dashboard</a>
        <a mat-list-item disabled><mat-icon matListItemIcon>settings</mat-icon>Settings</a>
      </ng-container>
        <a mat-list-item target="_blank" href="https://gitlab.com/awhic/event-lens-web"><mat-icon
            matListItemIcon>star</mat-icon>Star on GitLab</a>
        <a mat-list-item (click)="copyToClipboard()"><mat-icon matListItemIcon>share</mat-icon>Share</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="display: flex;">
        <h1>EasyFleet</h1>
      </span>
      <span class="example-spacer"></span>
      <mat-divider hidden="true" [inset]="true"></mat-divider>
      <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *ngIf="loggedInService.toggleValue$ | async; else loggedOut">
          <button mat-menu-item (click)="logout()">Log out</button>
        </ng-container>
        <ng-template #loggedOut>
          <button mat-menu-item routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</button>
        </ng-template>
      </mat-menu>
    </mat-toolbar>
    <app-content-shell>
    </app-content-shell>
  </mat-sidenav-content>
</mat-sidenav-container>