body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: calc(100vh - 28em);
    padding: 4em;
    box-sizing: border-box;

    .content {
        flex: 1;
        padding-right: 4em;

        h1 {
            font-size: 3em;
            margin-bottom: 0.5em;
        }

        h2 {
            font-size: 2em;
            margin-bottom: 0.5em;
        }

        h3 {
            font-size: 1.25em;
            margin-bottom: 1em;
        }

        .btn {
            button {
                padding-top: 2em;
                padding-bottom: 2em;
                padding-left: 4em;
                padding-right: 4em;

                font-size: medium;
            }
        }
    }

    .image-container {
        overflow: hidden;
        overflow-y: hidden;
    }
}
