<div class="container">
    <div class="content">
        <h1>EasyFleet</h1>
        <h2 style="color: gray;">A powerful, intelligent monitoring platform for electric, autonomous vehicle
            fleets.</h2>
        <h3 style="color: lightslategray;">Boasting fast real-time data and intelligent performance insights, enhanced by AI.</h3>
        <div class="btn">
            <ng-container *ngIf="loggedInService.toggleValue$ | async; else loggedOut">
                <button mat-raised-button color="primary" routerLink="/dashboard" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Dashboard</button>
            </ng-container>
            <ng-template #loggedOut>
                <button mat-raised-button color="primary" routerLink="/login" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Login</button>
            </ng-template>
        </div>
    </div>
    <div class="image-container">
    </div>
</div>